

<div style="text-align:center">

    <H1>Search database: </H1><br>
  
    <p>
      <mat-form-field appearance="fill" [style.width.px]="800">
        <mat-label>Search</mat-label>
        <input matInput #source [(ngModel)]="search_string">
      </mat-form-field>
    </p>
    <p>
      <button mat-raised-button (click)="this.search();">
        <mat-icon>search</mat-icon>
        Search
      </button>
    </p>
  
    Single variant <a href="/variant/1/7962795/A/G">1:7962795-A-G</a><br>
    Region  <a href="/variants/1/7962795/7962825">1:7962795-7962825</a><br>
    Gene    <a href="/variants/gene/PARK7">PARK7</a><br>
  
</div>


<!--
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput #message placeholder="chr:pos(-end) or chr-pos-ref-alt " [(ngModel)]="search_string">
    </mat-form-field>

    <button mat-raised-button (click)="this.update();">
        <mat-icon>edit</mat-icon>
        Update
      </button>
  

  </form>
-->  