<h1> Variants in {{chrom}}:{{start}}-{{end}}</h1>

<table  mat-table [dataSource]="variants ?? []" class="mat-elevation-z3 table-800px">

    <ng-container matColumnDef="variant">
        <th mat-header-cell *matHeaderCellDef> Variant</th>
        <td mat-cell *matCellDef="let freq"> 
            <button mat-icon-button (click)="this.variantNavigator.detailedView(freq.chrom, freq.pos, freq.ref, freq.alt )">
                <mat-icon>zoom_in</mat-icon>
                
            </button>
            {{freq.chrom}}-{{freq.pos}}-{{freq.ref}}-{{freq.alt}} 
        </td>
    </ng-container>
  

    <ng-container matColumnDef="allele_number">
        <th mat-header-cell *matHeaderCellDef> Allele</th>
        <td mat-cell *matCellDef="let freq"> {{freq.allele_number}} </td>
    </ng-container>

    <ng-container matColumnDef="allele_count">
        <th mat-header-cell *matHeaderCellDef> Allele Count</th>
        <td mat-cell *matCellDef="let freq"> {{freq.allele_count}} </td>
    </ng-container>

    <ng-container matColumnDef="allele_count_hom">
        <th mat-header-cell *matHeaderCellDef> Allele Count (hom)</th>
        <td mat-cell *matCellDef="let freq"> {{freq.allele_count_hom}} </td>
    </ng-container>

    <ng-container matColumnDef="frequency">
        <th mat-header-cell *matHeaderCellDef> Frequency</th>
        <td mat-cell *matCellDef="let freq"> {{freq.frequency|number: "1.4-4"}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>
